@page "/Account/AccessDenied"

<PageTitle>@Loc["Access denied"]</PageTitle>

<header>
    <h1 class="text-danger">@Loc["Access denied"]</h1>
    <p class="text-danger">@Loc["You do not have access to this resource"].</p>
</header>
