@page "/Account/ForgotPasswordConfirmation"

<PageTitle>@Loc["Forgot password confirmation"]</PageTitle>

<h1>@Loc["Forgot password confirmation"]</h1>
<p role="alert">
    @Loc["Please check your email to reset your password."]
</p>
