@page "/Account/InvalidPasswordReset"

<PageTitle>@Loc["Invalid password reset"]</PageTitle>

<h1>@Loc["Invalid password reset"]</h1>
<p role="alert">
    @Loc["The password reset link is invalid."]
</p>
