@page "/Account/Lockout"

<PageTitle>@Loc["Locked out"]</PageTitle>

<header>
    <h1 class="text-danger">Locked out</h1>
    <p class="text-danger" role="alert">@Loc["This account has been locked out, please try again later."]</p>
</header>
