<PageTitle>Create User</PageTitle>

<h3>Create User</h3>

<EditForm Model="userViewModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <PInputText OuterClass="mb-3" Label="Email" id="email" @bind-Value="userViewModel.Email" />

    <PInputText OuterClass="mb-3" Label="Password" type="password" id="password" @bind-Value="userViewModel.Password" />

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>
