<PageTitle>Delete User @user.UserName</PageTitle>

<h3>Delete User @user.UserName</h3>

<div>
    <p>Are you sure you want to delete this user?</p>
    <button class="btn btn-danger" @onclick="DeleteThisUser">Delete</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>
