<PageTitle>Delete Role @role.Name</PageTitle>

<h3>Delete User @role.Name</h3>

<div>
    <p>Are you sure you want to delete this role?</p>
    <button class="btn btn-danger" @onclick="DeleteThisRole">Delete</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>
