<PageTitle>Update Role @roleViewModel.Name</PageTitle>

<h3>Update User @roleViewModel.Name</h3>

<EditForm Model="roleViewModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <PInputText OuterClass="mb-3" Label="Name" id="name" @bind-Value="roleViewModel.Name" />

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>
