<div class="message-list al">
    @foreach (var message in messageManager.Messages)
    {
        <div class="message alert @message.HtmlClass">
            @message.Content
        </div>
    }
</div>

