<PageTitle>Delete ToDo @toDoItem.Title</PageTitle>

<h3>Delete User @toDoItem.Title</h3>

<div>
    <p>Are you sure you want to delete this ToDo?</p>
    <button class="btn btn-danger" @onclick="DeleteThisToDo">Delete</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>
