<nav aria-label="default-pagination">
  <ul class="pagination">
    <li class="page-item@(IsFirstPage ? " disabled" : "")">
      <span role="button" class="page-link" tabindex="-1" @onclick="PreviousPage">Previous</span>
    </li>
    @foreach (var pageNumber in Enumerable.Range(1, TotalPages))
    {
        <li class="page-item@(CurrentPage == pageNumber ? " active" : "")">
            <span role="button" class="page-link" @onclick="() => GoToPage(pageNumber)">@pageNumber</span>
        </li>
    }
    <li class="page-item@(IsLastPage ? " disabled" : "")">
      <span role="button" class="page-link" @onclick="NextPage">Next</span>
    </li>
  </ul>
</nav>
